.card-img-top{
    background-image: url("https://images.getbento.com/accounts/cc9b0b51b93120d5e7384651db375dc4/media/images/12805Cover_Image_preview.jpeg?w=1800&fit=max&auto=compress,format&h=1800");
    width: 100%;
    height:700px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
   
}
.container-fluid{
    width: 100%;
    height: 700px;
    
    
}
.mySlides {
    display:none;
}
.slide1{
    float:right;
}
